numpy
pandas
matplotlib
statsmodels
scipy
pyts
pmdarima
scikit-learn
PyWavelets
pykalman
torch
astropy
seaborn
requests
pyinform
tigramite
yfinance
pytrends
fredapi
python-dotenv
dtaidistance
pycoingecko
joblib
pytz
tqdm
ta
pandas-datareader
tiingo
ccxt
stable-baselines3
gymnasium
lightning
stable-baselines3[extra]